.github-events-widget {
    table {

    }
    li .col1 .cont {
        .cont-col1 {
            .label {
                padding: 6px 4px 6px 5px;
            }
            i.fa {
                font-size: 16px;
            }
        }
        .cont-col2 .desc {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            .label {
                padding: 6px !important;
            }
            img {
                height: 20px;
                width: 20px;
                margin-right: 10px;
                margin-left: 10px;
            }
            .btn-xs {
                padding: 4px 5px;
                padding-right: 8px;
            }
            .branch, .tagged, .commits {
                width: 100px;
                display: inline-block;
            }

        }
    }
    li .col2 {

        width: 110px;
        margin-left: -110px;
    }

}

.popover-content > .github-events-commits {
    .in .message {
        margin-left: 10px;
    }
    .out .message {
        margin-right: 10px;
    }
}
